@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background: url('/images/bg.svg');
    background-size: cover;
    backdrop-filter: blur(100px);
}

html, body, #__next {
    height: calc(100% - 1rem);
}

@media (min-width: 640px) {
    html, body, #__next {
        height: calc(100% - 1.8rem);
    }
}

.sidebar-button,
.sidebar-button-inactive {
    font-weight: 500;
}

.sidebar-button,
.sidebar-button .button-icon {
    color: white;
    fill: white;
}

.sidebar-button-inactive,
.sidebar-button-inactive .button-icon {
    color: rgb(255 255 255 / 0.5);
    fill: rgb(255 255 255 / 0.5);
}

.sidebar-button-inactive:hover,
.sidebar-button-inactive:hover .button-icon {
    color: white;
    fill: white;
}

div::-webkit-scrollbar {
  display: none;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

